<script>
    var socket;
    /**
     * jquery extension function for gettings URL params
     * @param name
     */
    $.urlParam = function(name){
        var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if(results)
            return results[1];

        return false;
    };

    $(document).ready(function(){
        socket = io.connect();
	socket.on('connect', function(){
	    if($.urlParam('code')){
		login();
	    }
	});
        socket.on('push', function (message) {
            console.log('got PUSH message');
            console.log(message);
            if(message === 'Access Denied.'){
                alert("Access Denied.  Please login before sending messages.");
            }
            else if(message.className){
                if(message.className === "com.percero.agents.auth.vo.UserToken"){
                    setStatus(true);
                }
                else if(message.data == "logout"){
                    setStatus(false);
                }
            }

        });
        socket.on('sync', function(message) {
            console.log('got SYNC message');
        });
        socket.on('disconnect', function(){
            console.log("disconnected from server");
            setStatus(false);
        });

        

//        socket.on('reply', function(data){
//            var ele = document.getElementById('last_message');
//            ele.innerHTML += "<b>"+data.my+"</b><br/>";
//        });
    });

    function setStatus(inout){
        if(inout){
            $('#status').text('Logged In');
            $('#status').css('color','green');
        }
        else{
            $('#status').text('Logged Out');
            $('#status').css('color','red');
        }
    }

    function sendMessage(){
        var name = $('#message_name').attr('value');
        var body = {className: "com.percero.apps.PSIGlobal.Boundary",
            name: "Boundary 123",
            description: "Some descripive text",
            parent: {className: "com.percero.apps.PSIGlobal.Boundary", id: "36"},
            children: [{className: "com.percero.apps.PSIGlobal.Boundary", id: "48"}]
        };
        // Request that the server create the object and push it around
        socket.emit(name, body);
        console.log('sent message ('+name+', '+body+')');
    }

    function loginClick(){
        var clientId = "<%= oauth_client_id %>";
        var redirectURL = "http://<%= host %>:<%=port%><%= oauth_redirect_uri %>";

        window.location="https://accounts.google.com/o/oauth2/auth?client_id=" + clientId + "&access_type=offline&redirect_uri="+redirectURL+"&response_type=code&scope=https://www.googleapis.com/auth/userinfo.profile%20https://www.googleapis.com/auth/userinfo.email";
    }

    function login(){
        // Get the token
        socket.emit('authenticateOAuthCode',{
            className: "com.percero.agents.auth.vo.OAuthCode",
            code: $.urlParam('code')
        });
    }

    function logout(){
        socket.emit('logoutUser',{className: "com.percero.amqp.Person",
            data:{
                name: "Jonathan",
                nickname: "samps"
            }});
    }

</script>
<strong>Connection Status: <span id="status" style="color: red">Logged Out</span></strong>
<button onclick="loginClick()" >OAuth</button>
<button onclick="logout()" >Logout</button>
<hr />
<strong>Send a Message to the Server</strong>
<select id="message_name">
<option value="create">Create</option>
</select>
<button onclick="sendMessage()">Add</button>